<a href="https://cognitiveclass.ai"><img src = "https://ibm.box.com/shared/static/ugcqz6ohbvff804xp84y4kqnvvk3bq1g.png" width = 300, align = "center"></a>

<h1 align=center><font size = 5>Lab: Working with a real world data-set using SQL and Python</font></h1>

# Introduction

This notebook shows how to work with a real world dataset using SQL and Python. In this lab you will:
1. Understand the dataset for Chicago Public School level performance 
1. Store the dataset in an Db2 database on IBM Cloud instance
1. Retrieve metadata about tables and columns and query data from mixed case columns
1. Solve example problems to practice your SQL skills including using built-in database functions

## Chicago Public Schools - Progress Report Cards (2011-2012) 

The city of Chicago released a dataset showing all school level performance data used to create School Report Cards for the 2011-2012 school year. The dataset is available from the Chicago Data Portal: https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t

This dataset includes a large number of metrics. Start by familiarizing yourself with the types of metrics in the database: https://data.cityofchicago.org/api/assets/AAD41A13-BE8A-4E67-B1F5-86E711E09D5F?download=true

__NOTE__: Do not download the dataset directly from City of Chicago portal. Instead download a more database friendly version from the link below.
Now download a static copy of this database and review some of its contents:
https://ibm.box.com/shared/static/f9gjvj1gjmxxzycdhplzt01qtz0s7ew7.csv

### Store the dataset in a Table
In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. To analyze the data using SQL, it first needs to be stored in the database.

While it is easier to read the dataset into a Pandas dataframe and then PERSIST it into the database as we saw in the previous lab, it results in mapping to default datatypes which may not be optimal for SQL querying. For example a long textual field may map to a CLOB instead of a VARCHAR. 

Therefore, __it is highly recommended to manually load the table using the database console LOAD tool, as indicated in Week 2 Lab 1 Part II__. The only difference with that lab is that in Step 5 of the instructions you will need to click on create "(+) New Table" and specify the name of the table you want to create and then click "Next". 

##### Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the CHICAGO PUBLIC SCHOOLS dataset and load the dataset into a new table called __SCHOOLS__.

<a href="https://cognitiveclass.ai"><img src = "https://ibm.box.com/shared/static/uc4xjh1uxcc78ks1i18v668simioz4es.jpg"></a>

### Connect to the database
Let us now load the ipython-sql  extension and establish a connection with the database

In [1]:
%load_ext sql

In [2]:
# Enter the connection string for your Db2 on Cloud database instance below
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name
%sql ibm_db_sa://rnj62488:w4%2B7hhvk2nbnvgk2@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB

'Connected: rnj62488@BLUDB'

### Query the database system catalog to retrieve table metadata

##### You can verify that the table creation was successful by retrieving the list of all tables in your schema and checking whether the SCHOOLS table was created

In [14]:
%%sql 
select * 
from syscat.tables
where tabschema like '%62488'

 * ibm_db_sa://rnj62488:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[('RNJ62488', 'INSTRUCTOR', 'RNJ62488', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2019, 12, 28, 18, 43, 54, 492091), datetime.datetime(2019, 12, 28, 18, 43, 54, 687492), datetime.datetime(2019, 12, 28, 18, 43, 54, 687500), datetime.datetime(2019, 12, 28, 18, 50, 37, 547906), 5, 4, 2564, 2, 1, 0, 1, -1, -1, -1, 0, 'rnj62488space1', None, None, 0, 0, 0, 1, 1, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 51, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2019, 12, 28, 18, 43, 54, 492091), 0, ' ', None, None, 'N', 'RNJ62488', ' ', ' ', ' ', datetime.date(2019, 12, 28), ' ', 'N', 'R', 'N', -1.0, None),
 ('RNJ62488', 'INTERNATIONAL_STUDENT_TEST_SCORES', 'RNJ62488', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2019, 12, 28, 23, 53, 55, 810262), datetime.datetime(2019, 12, 28, 23, 53, 55, 810262), datetime.datetime(2019, 12, 28, 23, 53, 55, 810262), datetime.datetime(2019, 12, 28, 23, 56, 13, 520172), 4, 5, 2564, 99, 1, 0, 1, -1, -1, -1, 0, 'rnj62488space1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 49, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2019, 12, 28, 23, 53, 55, 810262), 0, ' ', None, None, 'N', 'RNJ62488', ' ', ' ', ' ', datetime.date(2019, 12, 29), ' ', 'N', 'R', 'N', -1.0, None),
 ('RNJ62488', 'CHICAGO_SOCIOECONOMIC_DATA', 'RNJ62488', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2019, 12, 29, 0, 5, 27, 367761), datetime.datetime(2019, 12, 29, 0, 5, 27, 367761), datetime.datetime(2019, 12, 29, 0, 5, 27, 745722), datetime.datetime(2019, 12, 29, 0, 10, 36, 659114), 10, 6, 2564, 78, 1, 0, 1, -1, -1, -1, 0, 'rnj62488space1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 111, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2019, 12, 29, 0, 5, 27, 367761), 0, ' ', None, None, 'N', 'RNJ62488', ' ', ' ', ' ', datetime.date(2019, 12, 29), ' ', 'N', 'R', 'N', -1.0, None),
 ('RNJ62488', 'SCHOOLS', 'RNJ62488', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2019, 12, 29, 1, 49, 51, 802497), datetime.datetime(2019, 12, 29, 1, 49, 51, 802497), datetime.datetime(2019, 12, 29, 1, 49, 51, 802497), datetime.datetime(2019, 12, 29, 2, 1, 20, 916459), 78, 7, 2564, 566, 15, 0, 16, -1, -1, -1, 0, 'rnj62488space1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 844, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2019, 12, 29, 1, 49, 51, 802497), 0, ' ', None, None, 'N', 'RNJ62488', ' ', ' ', ' ', datetime.date(2019, 12, 29), ' ', 'N', 'R', 'N', -1.0, None)]

Double-click __here__ for a hint

<!--
In Db2 the system catalog table called SYSCAT.TABLES contains the table metadata
-->

Double-click __here__ for the solution.

<!-- Solution:

%sql select TABSCHEMA, TABNAME, CREATE_TIME from SYSCAT.TABLES where TABSCHEMA='YOUR-DB2-USERNAME'

or, you can retrieve list of all tables where the schema name is not one of the system created ones:

%sql select TABSCHEMA, TABNAME, CREATE_TIME from SYSCAT.TABLES \
      where TABSCHEMA not in ('SYSIBM', 'SYSCAT', 'SYSSTAT', 'SYSIBMADM', 'SYSTOOLS', 'SYSPUBLIC')
      
or, just query for a specifc table that you want to verify exists in the database
%sql select * from SYSCAT.TABLES where TABNAME = 'SCHOOLS'

-->

### Query the database system catalog to retrieve column metadata

##### The SCHOOLS table contains a large number of columns. How many columns does this table have?

In [18]:
# type in your query to retrieve the number of columns in the SCHOOLS table
%sql select count(*) from syscat.columns where tabname='SCHOOLS'

 * ibm_db_sa://rnj62488:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('78'),)]

Double-click __here__ for a hint

<!--
In Db2 the system catalog table called SYSCAT.COLUMNS contains the column metadata
-->

Double-click __here__ for the solution.

<!-- Solution:

%sql select count(*) from SYSCAT.COLUMNS where TABNAME = 'SCHOOLS'

-->

Now retrieve the the list of columns in SCHOOLS table and their column type (datatype) and length.

In [20]:
# type in your query to retrieve all column names in the SCHOOLS table along with their datatypes and length
%sql select colname, typename from syscat.columns where tabname='SCHOOLS'

 * ibm_db_sa://rnj62488:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[('School_ID', 'INTEGER'),
 ('NAME_OF_SCHOOL', 'VARCHAR'),
 ('Elementary, Middle, or High School', 'VARCHAR'),
 ('Street_Address', 'VARCHAR'),
 ('City', 'VARCHAR'),
 ('State', 'VARCHAR'),
 ('ZIP_Code', 'INTEGER'),
 ('Phone_Number', 'VARCHAR'),
 ('Link', 'VARCHAR'),
 ('Network_Manager', 'VARCHAR'),
 ('Collaborative_Name', 'VARCHAR'),
 ('Adequate_Yearly_Progress_Made_', 'VARCHAR'),
 ('Track_Schedule', 'VARCHAR'),
 ('CPS_Performance_Policy_Status', 'VARCHAR'),
 ('CPS_Performance_Policy_Level', 'VARCHAR'),
 ('HEALTHY_SCHOOL_CERTIFIED', 'VARCHAR'),
 ('Safety_Icon', 'VARCHAR'),
 ('SAFETY_SCORE', 'SMALLINT'),
 ('Family_Involvement_Icon', 'VARCHAR'),
 ('Family_Involvement_Score', 'VARCHAR'),
 ('Environment_Icon', 'VARCHAR'),
 ('Environment_Score', 'SMALLINT'),
 ('Instruction_Icon', 'VARCHAR'),
 ('Instruction_Score', 'SMALLINT'),
 ('Leaders_Icon', 'VARCHAR'),
 ('Leaders_Score', 'VARCHAR'),
 ('Teachers_Icon', 'VARCHAR'),
 ('Teachers_Score', 'VARCHAR'),
 ('Parent_Engagement_Icon', 'VARCHAR'),
 ('Parent_Engagement_Score', 'VARCHAR'),
 ('Parent_Environment_Icon', 'VARCHAR'),
 ('Parent_Environment_Score', 'VARCHAR'),
 ('AVERAGE_STUDENT_ATTENDANCE', 'VARCHAR'),
 ('Rate_of_Misconducts__per_100_students_', 'DECIMAL'),
 ('Average_Teacher_Attendance', 'VARCHAR'),
 ('Individualized_Education_Program_Compliance_Rate', 'VARCHAR'),
 ('Pk_2_Literacy__', 'VARCHAR'),
 ('Pk_2_Math__', 'VARCHAR'),
 ('Gr3_5_Grade_Level_Math__', 'VARCHAR'),
 ('Gr3_5_Grade_Level_Read__', 'VARCHAR'),
 ('Gr3_5_Keep_Pace_Read__', 'VARCHAR'),
 ('Gr3_5_Keep_Pace_Math__', 'VARCHAR'),
 ('Gr6_8_Grade_Level_Math__', 'VARCHAR'),
 ('Gr6_8_Grade_Level_Read__', 'VARCHAR'),
 ('Gr6_8_Keep_Pace_Math_', 'VARCHAR'),
 ('Gr6_8_Keep_Pace_Read__', 'VARCHAR'),
 ('Gr_8_Explore_Math__', 'VARCHAR'),
 ('Gr_8_Explore_Read__', 'VARCHAR'),
 ('ISAT_Exceeding_Math__', 'DECIMAL'),
 ('ISAT_Exceeding_Reading__', 'DECIMAL'),
 ('ISAT_Value_Add_Math', 'DECIMAL'),
 ('ISAT_Value_Add_Read', 'DECIMAL'),
 ('ISAT_Value_Add_Color_Math', 'VARCHAR'),
 ('ISAT_Value_Add_Color_Read', 'VARCHAR'),
 ('Students_Taking__Algebra__', 'VARCHAR'),
 ('Students_Passing__Algebra__', 'VARCHAR'),
 ('9th Grade EXPLORE (2009)', 'VARCHAR'),
 ('9th Grade EXPLORE (2010)', 'VARCHAR'),
 ('10th Grade PLAN (2009)', 'VARCHAR'),
 ('Location', 'VARCHAR'),
 ('10th Grade PLAN (2010)', 'VARCHAR'),
 ('Net_Change_EXPLORE_and_PLAN', 'VARCHAR'),
 ('11th Grade Average ACT (2011)', 'VARCHAR'),
 ('Net_Change_PLAN_and_ACT', 'VARCHAR'),
 ('College_Eligibility__', 'VARCHAR'),
 ('Graduation_Rate__', 'VARCHAR'),
 ('College_Enrollment_Rate__', 'VARCHAR'),
 ('COLLEGE_ENROLLMENT', 'SMALLINT'),
 ('General_Services_Route', 'SMALLINT'),
 ('Freshman_on_Track_Rate__', 'VARCHAR'),
 ('X_COORDINATE', 'DECIMAL'),
 ('Y_COORDINATE', 'DECIMAL'),
 ('Latitude', 'DECIMAL'),
 ('Longitude', 'DECIMAL'),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT'),
 ('COMMUNITY_AREA_NAME', 'VARCHAR'),
 ('Ward', 'SMALLINT'),
 ('Police_District', 'SMALLINT')]

Double-click __here__ for the solution.

<!-- Solution:

%sql select COLNAME, TYPENAME, LENGTH from SYSCAT.COLUMNS where TABNAME = 'SCHOOLS'

or

%sql select distinct(NAME), COLTYPE, LENGTH from SYSIBM.SYSCOLUMNS where TBNAME = 'SCHOOLS'

-->

### Questions
1. Is the column name for the "SCHOOL ID" attribute in upper or mixed case?
1. What is the name of "Community Area Name" column in your table? Does it have spaces?
1. Are there any columns in whose names the spaces and paranthesis (round brackets) have been replaced by the underscore character "_"?

## Problems

### Problem 1

##### How many Elementary Schools are in the dataset?

In [23]:
%%sql

select "Elementary, Middle, or High School", count(distinct name_of_school)
from schools
group by "Elementary, Middle, or High School"

 * ibm_db_sa://rnj62488:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[('ES', Decimal('462')), ('HS', Decimal('93')), ('MS', Decimal('11'))]

Double-click __here__ for a hint

<!--
Which column specifies the school type e.g. 'ES', 'MS', 'HS'?
-->

Double-click __here__ for another hint

<!--
Does the column name have mixed case, spaces or other special characters?
If so, ensure you use double quotes around the "Name of the Column"
-->

Double-click __here__ for the solution.

<!-- Solution:

%sql select count(*) from SCHOOLS where "Elementary, Middle, or High School" = 'ES'

Correct answer: 462

-->

### Problem 2

##### What is the highest Safety Score?

In [24]:
%%sql
select max(safety_score)
from schools

 * ibm_db_sa://rnj62488:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[(99,)]

Double-click __here__ for a hint

<!--
Use the MAX() function
-->

Double-click __here__ for the solution.

<!-- Hint:

%sql select MAX(Safety_Score) AS MAX_SAFETY_SCORE from SCHOOLS

Correct answer: 99
-->

### Problem 3

##### Which schools have highest Safety Score?

In [26]:
%%sql
select name_of_school, safety_score
from schools
where safety_score = (select max(safety_score)
from schools)

 * ibm_db_sa://rnj62488:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[('Abraham Lincoln Elementary School', 99),
 ('Alexander Graham Bell Elementary School', 99),
 ('Annie Keller Elementary Gifted Magnet School', 99),
 ('Augustus H Burley Elementary School', 99),
 ('Edgar Allan Poe Elementary Classical School', 99),
 ('Edgebrook Elementary School', 99),
 ('Ellen Mitchell Elementary School', 99),
 ('James E McDade Elementary Classical School', 99),
 ('James G Blaine Elementary School', 99),
 ('LaSalle Elementary Language Academy', 99),
 ('Mary E Courtenay Elementary Language Arts Center', 99),
 ('Northside College Preparatory High School', 99),
 ('Northside Learning Center High School', 99),
 ('Norwood Park Elementary School', 99),
 ('Oriole Park Elementary School', 99),
 ('Sauganash Elementary School', 99),
 ('Stephen Decatur Classical Elementary School', 99),
 ('Talman Elementary School', 99),
 ('Wildwood Elementary School', 99)]

Double-click __here__ for the solution.

<!-- Solution:
In the previous problem we found out that the highest Safety Score is 99, so we can use that as an input in the where clause:

%sql select Name_of_School, Safety_Score from SCHOOLS where Safety_Score = 99

or, a better way:

%sql select Name_of_School, Safety_Score from SCHOOLS where \
  Safety_Score= (select MAX(Safety_Score) from SCHOOLS)


Correct answer: several schools with with Safety Score of 99.
-->

### Problem 4

##### What are the top 10 schools with the highest "Average Student Attendance"?

In [27]:
%%sql

select *
from schools
order by average_student_attendance desc
limit 10

 * ibm_db_sa://rnj62488:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[(610504, 'Velma F Thomas Early Childhood Center', 'ES', '3625 S Hoyne Ave', 'Chicago', 'IL', 60609, '(773) 535-4088', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610504.pdf', 'Pershing Elementary Network', 'SOUTHWEST SIDE COLLABORATIVE', 'NDA', 'Standard', 'NDA', 'NDA', 'No', 'NDA', None, 'NDA', 'NDA', 'NDA', None, 'NDA', None, 'NDA', 'NDA', 'NDA', 'NDA', 'Strong', '55', 'Strong', '57', None, Decimal('0.0'), '95.60%', '100.00%', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', None, None, None, None, 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 211, 39, 'NDA', Decimal('1162992.823'), Decimal('1880511.570'), Decimal('41.82776914'), Decimal('-87.67750501'), 59, 'MCKINLEY PARK', 11, 9, '(41.82776914, -87.67750501)'),
 (609959, 'John Charles Haines Elementary School', 'ES', '247 W 23rd Pl', 'Chicago', 'IL', 60616, '(773) 534-9200', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609959.pdf', 'Pershing Elementary Network', 'SOUTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 1', 'No', 'Weak', 32, 'Average', '47', 'Weak', 37, 'Weak', 37, 'Average', '42', 'Average', '48', 'Weak', '43', 'Weak', '43', '98.40%', Decimal('0.3'), '96.20%', '96.90%', '70.2', '47.6', '69.3', '57.6', '69', '69.8', '73.2', '53.6', '74.3', '63.6', '35.9', '32', Decimal('45.0'), Decimal('25.7'), Decimal('1.0'), Decimal('0.5'), 'Green', 'Yellow', '25.9', '93.1', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 664, 40, 'NDA', Decimal('1174842.529'), Decimal('1888681.328'), Decimal('41.84993116'), Decimal('-87.63378596'), 34, 'ARMOUR SQUARE', 25, 9, '(41.84993116, -87.63378596)'),
 (610217, 'James Ward Elementary School', 'ES', '2701 S Shields Ave', 'Chicago', 'IL', 60616, '(773) 534-9050', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610217.pdf', 'Pershing Elementary Network', 'SOUTHWEST SIDE COLLABORATIVE', 'Yes', 'Standard', 'Not on Probation', 'Level 1', 'No', 'Average', 49, 'Strong', '65', 'Average', 50, 'Average', 46, 'Strong', '63', 'Average', '56', 'Average', '48', 'Weak', '43', '97.80%', Decimal('1.3'), '96.90%', '100.00%', '74.8', '63.8', '71.6', '57', '68.1', '80.6', '77.8', '53.3', '79.3', '51.9', '44.2', '34.6', Decimal('51.1'), Decimal('23.8'), Decimal('-0.1'), Decimal('-1.0'), 'Yellow', 'Red', '43.6', '50', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 492, 40, 'NDA', Decimal('1174442.789'), Decimal('1886499.005'), Decimal('41.84395162'), Decimal('-87.63531815'), 34, 'ARMOUR SQUARE', 11, 9, '(41.84395162, -87.63531815)'),
 (610132, 'Edgar Allan Poe Elementary Classical School', 'ES', '10538 S Langley Ave', 'Chicago', 'IL', 60628, '(773) 535-5525', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610132.pdf', 'Lake Calumet Elementary Network', 'FAR SOUTH SIDE COLLABORATIVE', 'Yes', 'Standard', 'Not on Probation', 'Level 1', 'No', 'Very Strong', 99, 'Weak', '33', 'Strong', 66, 'Very Strong', 88, 'Weak', '27', 'Average', '41', 'Strong', '55', 'Average', '47', '97.60%', Decimal('0.0'), '97.20%', '100.00%', '100', '78.3', '94', '91.6', '51.8', '65.5', '78.6', '92.9', '53.6', '60.7', 'NDA', 'NDA', Decimal('78.8'), Decimal('79.6'), Decimal('1.7'), Decimal('-0.2'), 'Green', 'Yellow', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 192, 48, 'NDA', Decimal('1182742.505'), Decimal('1835063.900'), Decimal('41.70261965'), Decimal('-87.60645552'), 50, 'PULLMAN', 9, 5, '(41.70261965, -87.60645552)'),
 (609842, 'Rachel Carson Elementary School', 'ES', '5516 S Maplewood Ave', 'Chicago', 'IL', 60629, '(773) 535-9222', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609842.pdf', 'Midway Elementary Network', 'SOUTHWEST SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 2', 'No', 'Weak', 38, 'Weak', '36', 'Average', 45, 'Average', 56, 'Weak', '26', 'Weak', '36', 'Average', '50', 'Average', '51', '97.60%', Decimal('3.9'), '97.70%', '100.00%', '68.5', 'NDA', '44', '35', '63.2', '75.8', '40.8', '45.5', '59.8', '59.5', '18.1', '24.4', Decimal('19.4'), Decimal('12.2'), Decimal('-0.4'), Decimal('0.2'), 'Yellow', 'Yellow', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 1222, 43, 'NDA', Decimal('1160271.679'), Decimal('1867913.540'), Decimal('41.79325514'), Decimal('-87.68783576'), 63, 'GAGE PARK', 16, 8, '(41.79325514, -87.68783576)'),
 (610329, 'Orozco Fine Arts & Sciences Elementary School', 'ES', '1940 W 18th St', 'Chicago', 'IL', 60608, '(773) 534-7215', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610329.pdf', 'Pilsen-Little Village Elementary Network', 'WEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 1', 'No', 'Average', 55, 'NDA', 'NDA', 'Weak', 34, 'Average', 44, 'NDA', 'NDA', 'NDA', 'NDA', 'Average', '50', 'Average', '53', '97.60%', Decimal('1.4'), '96.40%', '100.00%', '92.9', '78.6', '82.8', '67', '73.9', '77', '50.1', '45', '51', '52', '18.8', '33.8', Decimal('30.2'), Decimal('17.4'), Decimal('-0.6'), Decimal('-0.1'), 'Red', 'Yellow', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 636, 39, 'NDA', Decimal('1163539.274'), Decimal('1891453.147'), Decimal('41.85778248'), Decimal('-87.67519253'), 31, 'LOWER WEST SIDE', 25, 12, '(41.85778248, -87.67519253)'),
 (610084, 'Annie Keller Elementary Gifted Magnet School', 'ES', '3020 W 108th St', 'Chicago', 'IL', 60655, '(773) 535-2636', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610084.pdf', 'Rock Island Elementary Network', 'FAR SOUTH SIDE COLLABORATIVE', 'Yes', 'Standard', 'Not on Probation', 'Level 1', 'No', 'Very Strong', 99, 'Very Strong', '97', 'Very Strong', 85, 'Very Strong', 82, 'Very Strong', '94', 'Very Strong', '82', 'Strong', '68', 'Strong', '60', '97.50%', Decimal('4.9'), '96.50%', '100.00%', '100', 'NDA', '100', '100', '63.4', '74.7', '96.5', '97.7', '61.2', '76.7', '89.3', '100', Decimal('92.8'), Decimal('92.3'), Decimal('1.6'), Decimal('2.3'), 'Green', 'Green', '51.5', '70.6', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 245, 49, 'NDA', Decimal('1157959.455'), Decimal('1832892.067'), Decimal('41.69719792'), Decimal('-87.69726380'), 74, 'MOUNT GREENWOOD', 19, 22, '(41.69719792, -87.6972638)'),
 (610060, 'Andrew Jackson Elementary Language Academy', 'ES', '1340 W Harrison St', 'Chicago', 'IL', 60607, '(773) 534-7000', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610060.pdf', 'Fulton Elementary Network', 'WEST SIDE COLLABORATIVE', 'Yes', 'Standard', 'Not on Probation', 'Level 1', 'No', 'Very Strong', 86, 'NDA', 'NDA', 'Average', 57, 'Average', 46, 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', '97.40%', Decimal('0.7'), '96.10%', '100.00%', '88.7', 'NDA', '90.3', '90.9', '70.6', '81.2', '85.7', '90.7', '64.8', '62.1', '72.6', '87.1', Decimal('70.4'), Decimal('62.7'), Decimal('0.6'), Decimal('0.8'), 'Green', 'Green', '48.4', '80', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 556, 38, 'NDA', Decimal('1167364.912'), Decimal('1897512.032'), Decimal('41.87432724'), Decimal('-87.66097599'), 28, 'NEAR WEST SIDE', 2, 12, '(41.87432724, -87.66097599)'),
 (610298, 'Lenart Elementary Regional Gifted Center', 'ES', '8101 S LaSalle St', 'Chicago', 'IL', 60620, '(773) 535-0040', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610298.pdf', 'Skyway Elementary Network', 'SOUTH SIDE COLLABORATIVE', 'Yes', 'Standard', 'Not on Probation', 'Level 1', 'No', 'Strong', 79, 'Average', '58', 'Average', 51, 'Strong', 67, 'Average', '50', 'Strong', '63', 'Average', '52', 'Average', '52', '97.40%', Decimal('0.3'), '97.80%', '100.00%', 'NDA', 'NDA', '93.9', '96.9', '69.4', '46.9', '93.5', '96.8', '57.6', '55.9', '86.7', '93.3', Decimal('88.0'), Decimal('86.4'), Decimal('1.0'), Decimal('0.5'), 'Green', 'Yellow', '100', '70', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 328, 45, 'NDA', Decimal('1176725.617'), Decimal('1851241.455'), Decimal('41.74715024'), Decimal('-87.62800231'), 44, 'CHATHAM', 21, 6, '(41.74715024, -87.62800231)'),
 (610515, 'Disney II Magnet School', 'ES', '3815 N Kedvale Ave', 'Chicago', 'IL', 60641, '(773) 534-3750', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610515.pdf', "O'Hare Elementary Network", 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'Yes', 'Standard', 'Not on Probation', 'Level 1', 'No', 'NDA', None, 'Very Strong', '99', 'NDA', None, 'NDA', None, 'Strong', '75', 'Average', '53', 'Strong', '62', 'Strong', '58', '97.30%', Decimal('0.0'), '96.50%', '100.00%', '84.6', 'NDA', '76.5', '79.4', '63.4', '63.7', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', Decimal('57.8'), Decimal('52.0'), Decimal('0.6'), Decimal('2.1'), 'Yellow', 'Green', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 363, 29, 'NDA', Decimal('1148206.405'), Decimal('1925121.479'), Decimal('41.95048055'), Decimal('-87.73060545'), 16, 'IRVING PARK', 38, 17, '(41.95048055, -87.73060545)')]

Double-click __here__ for the solution.

<!-- Solution:

%sql select Name_of_School, Average_Student_Attendance from SCHOOLS \
    order by Average_Student_Attendance desc nulls last limit 10 

-->

### Problem 5

##### Retrieve the list of 5 Schools with the lowest Average Student Attendance sorted in ascending order based on attendance

In [28]:
%%sql

select *
from schools
order by average_student_attendance
limit 5

 * ibm_db_sa://rnj62488:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[(609702, 'Richard T Crane Technical Preparatory High School', 'HS', '2245 W Jackson Blvd', 'Chicago', 'IL', 60612, '(773) 534-7550', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609702.pdf', 'West Side High School Network', 'WEST SIDE COLLABORATIVE', 'No', 'Standard', 'Probation', 'Level 3', 'No', 'Average', 43, 'NDA', 'NDA', 'Average', 50, 'Average', 48, 'NDA', 'NDA', 'NDA', 'NDA', 'Average', '47', 'Weak', '46', '57.90%', Decimal('19.9'), '93.90%', '99.10%', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', None, None, None, None, 'NDA', 'NDA', 'NDA', 'NDA', '12', '11.9', '13.2', '13.6', '1.6', '14', '0.8', '3.7', '48', '32.6', 478, 38, '40.9', Decimal('1161290.138'), Decimal('1898611.918'), Decimal('41.87747384'), Decimal('-87.68324922'), 28, 'NEAR WEST SIDE', 2, 12, '(41.87747384, -87.68324922)'),
 (609871, 'Barbara Vick Early Childhood & Family Center', 'ES', '2554 W 113th St', 'Chicago', 'IL', 60655, '(773) 535-2671', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609871.pdf', 'Rock Island Elementary Network', 'FAR SOUTH SIDE COLLABORATIVE', 'NDA', 'Track_E', 'NDA', 'NDA', 'No', 'NDA', None, 'NDA', 'NDA', 'NDA', None, 'NDA', None, 'NDA', 'NDA', 'NDA', 'NDA', 'Strong', '66', 'Strong', '60', '60.90%', Decimal('0.0'), '95.50%', '100.00%', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', None, None, None, None, 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 204, 49, 'NDA', Decimal('1161152.120'), Decimal('1829643.669'), Decimal('41.68821843'), Decimal('-87.68566340'), 75, 'MORGAN PARK', 19, 22, '(41.68821843, -87.6856634)'),
 (609736, 'Dyett High School', 'HS', '555 E 51st St', 'Chicago', 'IL', 60615, '(773) 535-1825', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609736.pdf', 'South Side High School Network', 'SOUTH SIDE COLLABORATIVE', 'No', 'Track_E', 'Probation', 'Level 3', 'No', 'Weak', 27, 'Very Weak', '18', 'Weak', 35, 'Average', 47, 'Weak', '35', 'Weak', '25', 'NDA', 'NDA', 'NDA', 'NDA', '62.50%', Decimal('24.4'), '93.50%', '100.00%', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', None, None, None, None, 'NDA', 'NDA', 'NDA', 'NDA', '11.6', '11.7', '13', '12.9', '1.3', '14', '1', '3.3', '33.7', '51', 318, 42, '37.1', Decimal('1180944.201'), Decimal('1871282.832'), Decimal('41.80204982'), Decimal('-87.61192836'), 40, 'WASHINGTON PARK', 4, 2, '(41.80204982, -87.61192836)'),
 (609727, 'Wendell Phillips Academy High School', 'HS', '244 E Pershing Rd', 'Chicago', 'IL', 60653, '(773) 535-1603', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609727.pdf', 'AUSL Schools', 'SOUTH SIDE COLLABORATIVE', 'No', 'Track_E', 'Probation', 'Level 3', 'No', 'NDA', None, 'Strong', '71', 'NDA', None, 'NDA', None, 'Very Strong', '80', 'Strong', '79', 'NDA', 'NDA', 'NDA', 'NDA', '63.00%', Decimal('22.0'), '96.10%', '100.00%', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', None, None, None, None, 'NDA', 'NDA', 'NDA', 'NDA', '11.5', '12.8', '13.4', '12.9', '1.4', '15', '1.6', '2.5', '40.3', '42.6', 590, 40, '32.1', Decimal('1178735.106'), Decimal('1879229.780'), Decimal('41.82390751'), Decimal('-87.61978794'), 35, 'DOUGLAS', 3, 2, '(41.82390751, -87.61978794)'),
 (610389, 'Orr Academy High School', 'HS', '730 N Pulaski Rd', 'Chicago', 'IL', 60624, '(773) 534-6500', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610389.pdf', 'AUSL Schools', 'WEST SIDE COLLABORATIVE', 'No', 'Standard', 'Probation', 'Level 3', 'No', 'NDA', None, 'NDA', 'NDA', 'NDA', None, 'NDA', None, 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', '66.30%', Decimal('10.2'), '95.00%', '99.60%', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', None, None, None, None, 'NDA', 'NDA', 'NDA', 'NDA', '11.7', '12', '13.6', '13.3', '1.6', '15.1', '1.5', '5.8', 'NDA', '51.9', 831, 34, '59.5', Decimal('1149548.530'), Decimal('1904711.708'), Decimal('41.89444828'), Decimal('-87.72620305'), 23, 'HUMBOLDT PARK', 28, 11, '(41.89444828, -87.72620305)')]

Double-click __here__ for the solution.

<!-- Solution:

%sql SELECT Name_of_School, Average_Student_Attendance  \
     from SCHOOLS \
     order by Average_Student_Attendance \
     fetch first 5 rows only

-->

### Problem 6

##### Now remove the '%' sign from the above result set for Average Student Attendance column

In [40]:
%%sql

select name_of_school, average_student_attendance, replace(average_student_attendance, '%', '')::double
from schools
order by 2
limit 5

 * ibm_db_sa://rnj62488:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[('Richard T Crane Technical Preparatory High School', '57.90%', 57.9),
 ('Barbara Vick Early Childhood & Family Center', '60.90%', 60.9),
 ('Dyett High School', '62.50%', 62.5),
 ('Wendell Phillips Academy High School', '63.00%', 63.0),
 ('Orr Academy High School', '66.30%', 66.3)]

Double-click __here__ for a hint

<!--
Use the REPLACE() function to replace '%' with ''
See documentation for this function at:
https://www.ibm.com/support/knowledgecenter/en/SSEPGG_10.5.0/com.ibm.db2.luw.sql.ref.doc/doc/r0000843.html
-->

Double-click __here__ for the solution.

<!-- Hint:

%sql SELECT Name_of_School, REPLACE(Average_Student_Attendance, '%', '') \
     from SCHOOLS \
     order by Average_Student_Attendance \
     fetch first 5 rows only

-->

### Problem 7

##### Which Schools have Average Student Attendance lower than 70%?

In [42]:
%%sql 

select name_of_school, average_student_attendance
from schools
where replace(average_student_attendance, '%', '')::double < 70

 * ibm_db_sa://rnj62488:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[('Barbara Vick Early Childhood & Family Center', '60.90%'),
 ('Chicago Vocational Career Academy High School', '68.80%'),
 ('Dyett High School', '62.50%'),
 ('Manley Career Academy High School', '66.80%'),
 ('Orr Academy High School', '66.30%'),
 ('Richard T Crane Technical Preparatory High School', '57.90%'),
 ('Roberto Clemente Community Academy High School', '69.60%'),
 ('Wendell Phillips Academy High School', '63.00%')]

Double-click __here__ for a hint

<!--
The datatype of the "Average_Student_Attendance" column is varchar.
So you cannot use it as is in the where clause for a numeric comparison.
First use the CAST() function to cast it as a DECIMAL or DOUBLE
e.g. CAST("Column_Name" as DOUBLE)
or simply: DECIMAL("Column_Name")
-->

Double-click __here__ for another hint

<!--
Don't forget the '%' age sign needs to be removed before casting
-->

Double-click __here__ for the solution.

<!-- Solution:

%sql SELECT Name_of_School, Average_Student_Attendance  \
     from SCHOOLS \
     where CAST ( REPLACE(Average_Student_Attendance, '%', '') AS DOUBLE ) < 70 \
     order by Average_Student_Attendance
     
or,

%sql SELECT Name_of_School, Average_Student_Attendance  \
     from SCHOOLS \
     where DECIMAL ( REPLACE(Average_Student_Attendance, '%', '') ) < 70 \
     order by Average_Student_Attendance

-->

### Problem 8

##### Get the total College Enrollment for each Community Area

In [44]:
%%sql

select community_area_name, sum(college_enrollment)
from schools
group by community_area_name

 * ibm_db_sa://rnj62488:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[('ALBANY PARK', 6864),
 ('ARCHER HEIGHTS', 4823),
 ('ARMOUR SQUARE', 1458),
 ('ASHBURN', 6483),
 ('AUBURN GRESHAM', 4175),
 ('AUSTIN', 10933),
 ('AVALON PARK', 1522),
 ('AVONDALE', 3640),
 ('BELMONT CRAGIN', 14386),
 ('BEVERLY', 1636),
 ('BRIDGEPORT', 3167),
 ('BRIGHTON PARK', 9647),
 ('BURNSIDE', 549),
 ('CALUMET HEIGHTS', 1568),
 ('CHATHAM', 5042),
 ('CHICAGO LAWN', 7086),
 ('CLEARING', 2085),
 ('DOUGLAS', 4670),
 ('DUNNING', 4568),
 ('EAST GARFIELD PARK', 5337),
 ('EAST SIDE', 5305),
 ('EDGEWATER', 4600),
 ('EDISON PARK', 910),
 ('ENGLEWOOD', 6832),
 ('FOREST GLEN', 1431),
 ('FULLER PARK', 531),
 ('GAGE PARK', 9915),
 ('GARFIELD RIDGE', 4552),
 ('GRAND BOULEVARD', 2809),
 ('GREATER GRAND CROSSING', 4051),
 ('HEGEWISCH', 963),
 ('HERMOSA', 3975),
 ('HUMBOLDT PARK', 8620),
 ('HYDE PARK', 1930),
 ('IRVING PARK', 7764),
 ('JEFFERSON PARK', 1755),
 ('KENWOOD', 4287),
 ('LAKE VIEW', 7055),
 ('LINCOLN PARK', 5615),
 ('LINCOLN SQUARE', 4132),
 ('LOGAN SQUARE', 7351),
 ('LOOP', 871),
 ('LOWER WEST SIDE', 7257),
 ('MCKINLEY PARK', 1552),
 ('MONTCLARE', 1317),
 ('MORGAN PARK', 3271),
 ('MOUNT GREENWOOD', 2091),
 ('NEAR NORTH SIDE', 3362),
 ('NEAR SOUTH SIDE', 1378),
 ('NEAR WEST SIDE', 7975),
 ('NEW CITY', 7922),
 ('NORTH CENTER', 7541),
 ('NORTH LAWNDALE', 5146),
 ('NORTH PARK', 4210),
 ('NORWOOD PARK', 6469),
 ('OAKLAND', 140),
 ('OHARE', 786),
 ('PORTAGE PARK', 6954),
 ('PULLMAN', 1620),
 ('RIVERDALE', 1547),
 ('ROGERS PARK', 4068),
 ('ROSELAND', 7020),
 ('SOUTH CHICAGO', 4043),
 ('SOUTH DEERING', 1859),
 ('SOUTH LAWNDALE', 14793),
 ('SOUTH SHORE', 4543),
 ('UPTOWN', 4388),
 ('WASHINGTON HEIGHTS', 4006),
 ('WASHINGTON PARK', 2648),
 ('WEST ELSDON', 3700),
 ('WEST ENGLEWOOD', 5946),
 ('WEST GARFIELD PARK', 2622),
 ('WEST LAWN', 4207),
 ('WEST PULLMAN', 3240),
 ('WEST RIDGE', 8197),
 ('WEST TOWN', 9429),
 ('WOODLAWN', 4206)]

Double-click __here__ for a hint

<!--
Verify the exact name of the Enrollment column in the database
Use the SUM() function to add up the Enrollments for each Community Area
-->

Double-click __here__ for another hint

<!--
Don't forget to group by the Community Area
-->

Double-click __here__ for the solution.

<!-- Solution:

%sql select Community_Area_Name, sum(College_Enrollment) AS TOTAL_ENROLLMENT \
   from SCHOOLS \
   group by Community_Area_Name 

-->

### Problem 9

##### Get the 5 Community Areas with the least total College Enrollment  sorted in ascending order

In [46]:
%%sql

select community_area_name, sum(college_enrollment)
from schools
group by community_area_name
order by 2
limit 5

 * ibm_db_sa://rnj62488:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[('OAKLAND', 140),
 ('FULLER PARK', 531),
 ('BURNSIDE', 549),
 ('OHARE', 786),
 ('LOOP', 871)]

Double-click __here__ for a hint

<!--
Order the previous query and limit the number of rows you fetch
-->

Double-click __here__ for the solution.

<!-- Solution:

%sql select Community_Area_Name, sum(College_Enrollment) AS TOTAL_ENROLLMENT \
   from SCHOOLS \
   group by Community_Area_Name \
   order by TOTAL_ENROLLMENT asc \
   fetch first 5 rows only

-->

### Problem 10

##### Get the hardship index for the community area which has College Enrollment of 4638

In [50]:
%%sql

select hardship_index 
from schools
where community_area_name in (
select community_area_name
from schools
where college_enrollment = 4368)

 * ibm_db_sa://rnj62488:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0206N  "HARDSHIP_INDEX" is not valid in the context where it is used.  SQLSTATE=42703 SQLCODE=-206
[SQL: select hardship_index
from schools
where community_area_name in (
select community_area_name
from schools
where college_enrollment = 4368)]
(Background on this error at: http://sqlalche.me/e/f405)

Double-click __here__ for the solution.

<!-- Solution:
NOTE: For this solution to work the CHICAGO_SOCIOECONOMIC_DATA table 
      as created in the last lab of Week 3 should already exist

%%sql 
select hardship_index 
   from chicago_socioeconomic_data CD, schools CPS 
   where CD.ca = CPS.community_area_number 
      and college_enrollment = 4368

-->

### Problem 11

##### Get the hardship index for the community area which has the highest value for College Enrollment

Double-click __here__ for the solution.

<!-- Solution:
NOTE: For this solution to work the CHICAGO_SOCIOECONOMIC_DATA table 
      as created in the last lab of Week 3 should already exist

%sql select ca, community_area_name, hardship_index from chicago_socioeconomic_data \
   where ca in \
   ( select community_area_number from schools order by college_enrollment desc limit 1 )

-->

## Summary

##### In this lab you learned how to work with a real word dataset using SQL and Python. You learned how to query columns with spaces or special characters in their names and with mixed case names. You also used built in database functions and practiced how to sort, limit, and order result sets, as well as used sub-queries and worked with multiple tables.

Copyright &copy; 2018 [cognitiveclass.ai](cognitiveclass.ai?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license/).