<h1 align=center><font size = 5>Data Viz with Python: Plots, Graphs, and Geospatial</font></h1>  

### Final Lab: Python for Data Visualization

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import folium

In [19]:
%matplotlib inline

### Problem 1

In [8]:
df = pd.read_csv("Topic_Survey_Assignment.csv", index_col="Unnamed: 0")

In [10]:
df

,Very interested,Somewhat interested,Not interested
Big Data (Spark / Hadoop),1332,729,127
Data Analysis / Statistics,1688,444,60
Data Journalism,429,1081,610
Data Visualization,1340,734,102
Deep Learning,1263,770,136
Machine Learning,1629,477,74

In [53]:
df_perc = df.div(df.sum(axis=1), axis=0)

In [55]:
df_perc

,Very interested,Somewhat interested,Not interested
Big Data (Spark / Hadoop),0.608775,0.333181,0.058044
Data Analysis / Statistics,0.770073,0.202555,0.027372
Data Journalism,0.202358,0.509906,0.287736
Data Visualization,0.615809,0.337316,0.046875
Deep Learning,0.582296,0.355002,0.062702
Machine Learning,0.747248,0.218807,0.033945

### Problem 2

In [60]:
from matplotlib.backends.backend_agg import FigureCanvasAgg as FigureCanvas
from matplotlib.figure import Figure

fig = Figure(figsize=(20,8))
canvas = FigureCanvas(fig)
ax = fig.add_subplot(111)
bar1 = ax.bar(df_perc.index, height=df_perc["Very interested"], color="#cdcdcd")
bar2 = ax.bar(df_perc.index, height=df_perc["Somewhat interested"], color="#cdcdcd")
bar3 = ax.bar(df_perc.index, height=df_perc["Not interested"], color="#cdcdcd")
ax.legend()

fig.savefig("topic_barplot.png")

No handles with labels found to put in legend.

In [30]:
type(ax)

matplotlib.axes._subplots.AxesSubplot